<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Acerca</h2>
                <div class="page_link">
                    <a [routerLink]="['/inicio']">Inicio</a>
                    <a>Acerca</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="assets/img/about-us.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>Sobre Mi </h2>
                    <p>
                        Hola, mi nombre es Daniel Romero Aguirre, y esta es mi página web donde les muestro quien soy y
                        a que me dedico.
                    </p>
                    <p>
                        Soy desarrollador web y móvil, me llamaba mucho la atención el mundo de la web y desde
                        principios del 2019 he estado aprendiendo de tecnologías web. Siempre estoy en constante
                        aprendizaje viendo las últimas tendencias en tecnologías, me apasiona la programación.
                    </p>
                    <p>
                        Desde que estaba en el colegio me interese por la programación y desde los 15 años ya sabía a
                        qué me quería dedicar, comencé con el lenguaje c++ y visual basic 6.0 cuando estaba en el
                        colegio, cuando ingrese al Instituto aprendí el lenguaje c# (CSharp) y sobre bases de datos.
                        Actualmente me dedico 100% a tecnologías web y manejo frameworks como Angular 8+, Reactjs, Node js, Ionic
                        Framework para desarrollo móvil, bases de datos MongoDB y MySql, lenguajes como TypeScript,
                        JavaScript.
                    </p>
                    <p>
                        Cuando no estoy programando, me dedico a ver películas, hacer deportes, jugar videojuegos o veo
                        alguna serie en netflix.
                    </p>
                    <!--<a class="primary_btn" routerLink="/acerca"><span>Saber mas.</span></a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Srart Brand Area =================-->
<section class="brand_area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-7 text-center">
                <div class="main_title">
                    <h2>Contáctame:</h2>
                </div>
            </div>

            <div class="offset-lg-2 col-lg-4 col-md-6">
                <div>
                    <div class="call-now d-flex">
                        <div>
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="ml-15">
                            <p>Teléfono</p>
                            <h3>{{servicio.info.telefono}} </h3>
                        </div>
                    </div>
                    <div class="call-now d-flex">
                        <div>
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="ml-15">
                            <p>Correo Electrónico</p>
                            <h3 *ngFor="let email of servicio.info.mail">{{email.mail}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ End Brand Area =================-->
<!--================ Start Newsletter Area =================-->
<section class="newsletter_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="subscription_box text-center">
                    <h2 class="text-uppercase text-white"></h2>
                    <p class="text-white"> </p>
                    <div class="subcribe-form" id="mc_embed_signup"> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Newsletter Area =================-->