<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner_content">
                        <h3 class="text-uppercase">Hola</h3>
                        <h1 class="text-uppercase">Soy Daniel Romero</h1>
                        <h5 class="text-uppercase">Desarrollador web y movil</h5>
                        <!--<div class="d-flex align-items-center">
                            <a class="primary_btn" href="#"><span>Hire Me</span></a>
                            <a class="primary_btn tr-bg" href="#"><span>Get CV</span></a>
                        </div>-->
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="home_right_img">
                        <img class="" src="assets/img/banner/home-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="assets/img/about-us.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>Sobre Mi </h2>
                    <p>
                        Hola, mi nombre es Daniel Romero Aguirre, y esta es mi página web donde les muestro quien soy y
                        a que me dedico.
                    </p>
                    <p>
                        Soy desarrollador web y móvil, me llamaba mucho la atención el mundo de la web y desde
                        principios del 2019 he estado aprendiendo de tecnologías web. Siempre estoy en constante
                        aprendizaje viendo las últimas tendencias en tecnologías, me apasiona la programación.
                    </p>
                    <a class="primary_btn" routerLink="/acerca"><span>Saber mas.</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Srart Brand Area =================-->
<section class="brand_area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-7 text-center">
                <div class="main_title">
                    <h2>Contáctame:</h2>
                </div>
            </div>

            <div class="offset-lg-2 col-lg-4 col-md-6">
                <div>
                    <div class="call-now d-flex">
                        <div>
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="ml-15">
                            <p>Teléfono</p>
                            <h3>{{servicio.info.telefono}} </h3>
                        </div>
                    </div>
                    <div class="call-now d-flex">
                        <div>
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="ml-15">
                            <p>Correo Electrónico</p>
                            <h3 *ngFor="let email of servicio.info.mail" >{{email.mail}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ End Brand Area =================-->

<!--================ Start Features Area =================-->
<section class="features_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="main_title">
                    <h2>Servicios ofrecidos</h2>
                    <p>
                        Estas son las tecnologías que domino y en las que realizo desarrollo web frontend, backend y
                        desarrollo móvil.
                    </p>
                </div>
            </div>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-4 col-md-6" *ngFor="let servicio of servicio.servicios">
                <!--para hacer el ngfor-->
                <div class="feature_item">
                    <img [src]="servicio.img" alt="">
                    <h4>{{servicio.nombre}}</h4>
                    <p>{{servicio.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Features Area =================-->

<!--================Start Portfolio Area =================-->
<section class="portfolio_area section_gap_top" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title text-left">
                    <h2>Proyectos recientes </h2>
                </div>
            </div>
        </div>

        <div class="filters-content">
            <div class="row portfolio-grid justify-content-center"> 
                <div class="col-lg-4 col-md-6 all latest" *ngFor="let portafolio of portafolios.portafolio">
                    <!--a este se aplica ngfor-->
                    <a [routerLink]="['/portafolio-detalle/proyecto', portafolio.id]">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" [src]="portafolio.img_principal" alt="">
                                <div class="overlay"></div>
                            </div>
                            <div class="short_info">
                                <h4><a>{{portafolio.nombre}}</a></h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Portfolio Area =================-->

<!--================ Start Newsletter Area =================-->
<section class="newsletter_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="subscription_box text-center">
                    <h2 class="text-uppercase text-white"></h2>
                    <p class="text-white"> </p>
                    <div class="subcribe-form" id="mc_embed_signup"> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Newsletter Area =================-->