<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Contacto</h2>
                <div class="page_link">
                    <a [routerLink]="['/inicio']">Inicio</a>
                    <a>Contacto</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->

<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 text-center">
                <div class="contact_info">
                    <div class="info_item text-center">
                        <h2>Información de contacto:</h2>
                    </div>
                    <div class="info_item text-center">
                        <h6>Guayaquil, Ecuador</h6>
                        <p>Parroquia Tarqui Sector Juan Montalvo</p>
                    </div>
                    <div class="info_item">
                            <h6><a>TELÉFONO</a></h6>
                        <h6><a>{{servicio.info.telefono}} </a></h6>
                        <p></p>
                    </div>
                    <div class="info_item">
                        <h6 *ngFor="let email of servicio.info.mail" ><a>{{email.mail}}</a></h6>
                        <p>Envíame una consulta en cualquier momento.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================Contact Area =================-->

<!--================ Start Newsletter Area =================-->
<section class="newsletter_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="subscription_box text-center">
                    <h2 class="text-uppercase text-white"></h2>
                    <p class="text-white"> </p>
                    <div class="subcribe-form" id="mc_embed_signup"> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Newsletter Area =================-->