<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Contacto</h2>
                <div class="page_link">
                    <a [routerLink]="['/inicio']">Inicio</a>
                    <a>Contacto</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->

<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 text-center">
                <div class="contact_info">
                    <div class="info_item text-center">
                        <h2>Información de contacto:</h2>
                    </div>
                    <div class="info_item text-center">
                        <h6>Guayaquil, Ecuador</h6>
                        <p>Parroquia Tarqui Sector Juan Montalvo</p>
                    </div>
                    <div class="info_item">
                            <h6><a>TELÉFONO</a></h6>
                        <h6><a>{{servicio.info.telefono}} </a></h6>
                        <p></p>
                    </div>
                    <div class="info_item">
                        <h6 *ngFor="let email of servicio.info.mail" ><a>{{email.mail}}</a></h6>
                        <p>Envíame una consulta en cualquier momento.</p>
                    </div>
                </div>
            </div>

        </div>
        <div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13"
            data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia." data-mlat="40.701083"
            data-mlon="-74.1522848">
        </div>
    </div>
</section>
<!--================Contact Area =================-->